*,*::before,*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	width: 100%;
}

ul li{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: gray;
}
.attribution{
	font-size: 11px; 
	text-align: center;
}
.attribution a{
	color: hsl(228, 45%, 44%)
}